.b-totoblock-field-title {
  width: 100%;
  display: block;
}
.b-totoblock-field-title__input {
  width: 100%;
  display: block;
  resize: vertical;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3d3d3d;
  padding: 12px 8px;
}
